/*-----------------global-----------------*/
@font-face {
  font-family: "unisans";
  src: url(./Arabic/ArbFONTS-DINNextLTArabic-Bold-4.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "unisans";
  src: url(./Arabic/alfont_com_AlFont_com_DINNextLTArabic-Medium-2.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "unisans";
  src: url(./Arabic/dinnextltarabic-regular.woff.ttf);
  font-weight: 400;
}
  *{
    font-family: "unisans";
  }
  body{
    overflow: auto;
    background: #FCFCFC;
  }
  /*-----------------colors-----------------*/
  :root{
    --border-main:#EDEEF0;
    --font-primary:#3F4449;
    --blue: #73CDE1;
    }
  /*-----------------page-----------------*/
      .wallet-heading{
        color: var(--font-primary);
        font-size: 32px;
        font-weight: 700;
      }
      section{
      width: 909px;
    }
    img{
     width: 163px;   
     height: 179px;
    }
    .blue{
        color: #73CDE1;
        font-size: 32px;
        font-weight: 500;
    }
    .gray{
        color: #3F4449;
        font-size: 24px;
        font-weight: 400;
    }
  /*-----------------buttons-----------------*/
  .submit{
    border-radius: 8px;
    background-color: #73CDE1;
    color:#FFF;
    font-size: 24px;
    font-weight: 500;
    width: 244px ;
    height: 56px;
    text-align: center;
  }
  /*-----------------media-----------------*/  
  @media (max-width: 767px){
          .wallet-heading{
          display: none;   
           }
          section{
          width: 100%;
        }
        img{
         width: 148px;   
         height: 163px;
        }
        .blue{
            font-size: 24px;
                }
        .gray{
            font-size: 20px;
        }
      .submit{
        font-size: 16px;
        width: 137px ;
        height: 48px;
      }}  
  
  
  